.modal-container h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.modal-container label {
  display: block;
  margin-bottom: 10px;
}

.modal-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.modal-container button {
  background-color: #4a90e2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.modal-container button:last-child {
  margin-right: 0;
}
